*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
.text-light{
    font-size: 12px;
    font-weight: 200;
    margin-right: 10px;
}
nav{
    width: 100%;
}
.navbar{
    position: sticky!important;
    top: 0;
    z-index: 5;
    background-color: white;
    
}
 

.carousel .carousel-inner .carousel-item {
    
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    
}

.carousel-item img {

    height: 30.57vw; 
    width:100%;
    object-fit:cover; 

    border-radius: 0%;
    
    
} 
.carousel .carousel-control-prev{
    
    background-color: gray;
    width: 10%;
}
.carousel .carousel-control-next{
   
    background-color:gray;
    width: 10%;
}
.middle{
        
    display: flex;
     align-items: center; 
    
    height: 400px;
    background-color:#F9E9EF;
    flex-direction: row;
    padding: 20px;

}
 .middle .container{
    display: flex;
    justify-content: center;
} 
.middle img{
    width:270px;
    height:250px;
    border-radius: 5px;
}
.middle p{
 display: flex;
justify-content: center;
align-items: center; 
font-size: 18px;


}



.dil div{
    
    background-color: #F9E9EF;
}
 .dill{
    
    margin-left: 10px;
    margin-right: 10px;
}


.dill div{
   color: var(--bs-gray-700) ;
  
}
.dilll{
 text-align: justify;
}
 .dill img{
    height:50vh;
    object-fit:cover;
    object-position: center;
    
    
}

.container1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    color: rgb(161, 51, 161);
    background-color:#F9E9EF;
    padding:  15px ;
}
.container1 .large123 {
    font-size: 50px;
    
    font-weight: 600;
    text-align: center;
    
    
}
@keyframes topup{
    from{
        transform: translateY(60%);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
     



 
.nav-item a{
    position: relative;
    animation-name: moveleft1;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes moveleft1 {
    from {
      left: -290px;
      
    }
  
    to {
        left:0px;
                                                                                
    }
  }

  #lmao .text-light i{
    position: relative;
    animation: moveleft2;
    animation-duration: 2.8s;
    animation-delay: 0s;
    animation-iteration-count: 1;

  }
  
@keyframes moveleft2 {
    from {
      left: -500px;
      transform: scale(2);
      
    }
  
    to {
        left:0px;
        transform: scale(1);                                                                  
    }
  }
.container1 ul {
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr ;
    grid-template-rows: max-content;
    padding: 0px;
}


.haha {
    animation: topup 1.5s ease-in-out 0s forwards 1;
  }
  
.container1 ul h3{
    color: rgb(161, 51, 161);
    
}

.container1 ul h3:hover{
    cursor: pointer;
    color: rgb(88, 0, 88);
}   

.container1 ul li{
    color: black;
    
    padding: 10px 5px 0px 5px;
    list-style-type:none;
    
    border-radius: 5px;
    text-align: center;
    
}

.container1 .discription ul li  p{
    
    font-style: oblique;
    opacity: 0;
    transition: opacity ease 0.5s;
    font-weight: 200;
}
.noname{
    padding-bottom: 20px; 
    text-align: center; font-size: 40px;
     text-decoration:overline;
}
.hasname{
    text-align: center; 
    opacity: 1;
    font-size: 40px;
    padding-top: 20px;
}
.bulk{
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.bulk img{
    width:270px;
    height:270px;
    border-radius: 5px;
}
.bulk p{
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    
    }
    #dd , #ddd{
        
        
        transition: opacity ease 0.5s;
        position: relative;
       
    }

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    
.carousel-item img {
    height: 40.57vw; 
} 
    .middle{
        flex-direction: column;
        height: max-content;
    }
    .middle p{
        margin-top: 20px;
    }
    
    .container1 .large123{
        font-size: 35px;
    }
    
    .container1 ul{
        grid-template-columns: 1fr ;
        grid-template-rows: max-content;
    }
    .dil{
        flex-direction: column!important;
        
    }
    .dill{
        
        margin-left: 0px;
        margin-right: 0px;
    }
    .noname{
        text-decoration: none;
    }
    
.bulk{
    
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}
.bulk p{
    width: 80%;
    font-size: 18px;
    
    }
.hasname{
    font-size: 25px;
}
}
@media screen and (min-width: 0px) and (max-width: 425px){
    .carousel-item img {

        height: 55.57vw; 
    } }
