.bbbb img{
    /* object-fit: fill;  */
    /* object-position:100% 10% ; */
    border-radius: 0px;
    /* height: 35vh; */
}

#me{
    color: rgb(198, 198, 198);
}

#me:hover{
    
    color: red!important;
}

.card-text{
    opacity: 1;
}

.card-text ul li{
    color: white;
}

.card-text small{
    color:  rgb(198, 198, 198);
}

.box1{
    margin:20px;
    background-color: whitesmoke;
    transform: skew(-15deg);
    padding: 15px;
    width: 220px;
}


@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }

#kk{
    object-fit: contain;
    object-position: center;
}

#desc{
    padding-top: 20px;
}

@media  screen  and (max-width: 1024px) 
{ .bbbb img{
    height: 35vh;
}}
@media  screen  and (max-width: 425px) 
{ .bbbb img{
    height: 27vh;
}
}

